.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-footer{
    background-color: rgba(205, 220, 57, 0.41);
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: rgba(205, 220, 57, 0.41);
    color:#2F4C0B;
}

h1{
    color:#2F4C0B;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

img{
    max-width: 100%;

}


.navbar-inverse {
     background: #2F4C0B;
}
.navbar-inverse .navbar-nav>li>a {
    color: #DADADA;
}

.navbar-inverse .navbar-brand {
    color: #DADADA;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #5FAB00;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #2F4C0B;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #5FAB00;
    color:#eeeeee;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
}